{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the Employee Leave Management System! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new, get started
    by creating an account to use.</a>.
  </p>
  <hr>
  <h3>App description:</h3>
  <p>
    This app is a leave management system that can be applied in organizations that require leave
    notifications beforehand (ex: schools, companies, specific cultures/religions, etc.)
  </p>
{% endblock %}
