{% extends 'base.html' %}

{% block content %}

Welcome manager {{user.username}}



<div class="row">

    <div class="col-md-6" style="margin-left: 200px;">
    
    <table>
        <thead>
            <tr>
              <th><strong> Response </strong></th>
            </tr>
          </thead>

          <tbody>
    
            <tr>

            <td>

                {% for s in app %}

                {% if s.status == 'reject' %}
                <p style="margin-top:15px;"><b style="color:red;">Your application for leave has been {{ s.status }}ed by HR {{s.to_admin}} </b></p>

                {% elif s.status == 'accept' %}
                <p style="margin-top:15px;"><b style="color: green;">Your application for leave has been {{ s.status }}ed by HR {{s.to_admin}} </b></p>

                {% elif s.status == None %}
                <p style="margin-top:15px;"><b>Leave application sent to {{s.to_admin}} is pending</b></p>

                {% endif %}

                <br>

                {% endfor %}

            </td>

            </tr>

        </tbody>

    </table>


{% endblock %}
